[Unit]
Description=mmbr

[Service]
Type=simple
ExecStart=bash /home/pi/mmbr.sh
Restart=no
WorkingDirectory=/home/pi/
User=pi
KillMode=mixed

[Install]
WantedBy=multi-user.target
