[Unit]
Description=mmbr

[Service]
Type=simple
ExecStart=bash /home/pi/mmbr.sh
Restart=yes
WorkingDirectory=/home/pi/
User=pi
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
