[Unit]
Description=pcsi
After=graphical.target
Requires=tnc.service

[Service]
ExecStartPre=+systemctl stop fldigi sstv wsjtx ardop tnc300b digipeater node winlinkrms js8call
Type=simple
ExecStart=bash /home/pi/pcsi.sh
Restart=no
WorkingDirectory=/home/pi/
User=pi

[Install]
WantedBy=graphical.target

