[Unit]
Description=tnc

[Service]
ExecStartPre=+systemctl stop fldigi sstv wsjtx ardop tnc300b digipeater node winlinkrms js8call node tnc
Type=simple
ExecStart=bash /home/pi/direwolf.rtlsdr.sh
Restart=no
WorkingDirectory=/home/pi/
User=pi

[Install]
WantedBy=graphical.target
