[Unit]
Description=tnc
After=graphical.target

[Service]
ExecStartPre=+systemctl stop fldigi sstv wsjtx ardop tnc300b digipeater node winlinkrms js8call node uhf-node
Type=simple
ExecStart=bash /home/pi/direwolf.uhf-tnc.sh
Restart=no
WorkingDirectory=/home/pi/
User=pi

[Install]
WantedBy=multi-user.target
